<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="keywords" content="fotografia, marketing, video, digital,emprendedores, redes sociales, campañas publicitarias, tienda, tecnologia">
    <meta name="descripcion" content="Algunos de nuestros clientes y colaboradores">
    <title>Estudio Pirata</title><!--titulo-->
</head>
<body>
    <header class= "header" ><!--Imagen con el titulo principal-->
        <img class="header__logo1 animate_animated animate_bounce" src="../resources/DiseñoG/header__logo1.png" alt=¨EstudioPirata¨>
        <img class="header__logo2" src="../resources/DiseñoG/header__logo2.png" alt=¨EstudioPirata¨>
        <img class="header__logo3" src="../resources/DiseñoG/header__logo3.jpg" alt=¨EstudioPirata¨>
    </header>
<nav class="nav"> <!--Menu de navegacion-->
    <ul class="nav__lista">
        <li class="nav__navegacion"><a href="../index.html">Inicio</a></li>
        <li class="nav__navegacion nav__navegacion--color"><a href="./Contacto.html">Contacto</a></li>
        <li class="nav__navegacion nav__navegacion--color"><a href="./Portfolio.html">Portfolio</a></li>
        <li class="nav__navegacion"><a href="./Tienda.html">Tienda</a></li>
    </ul>
</nav>
<section class="seccionClientes">
    <h1>Clientes Piratas</h1>
<div class="clientes"> <!-- Bloque -->
    <img class="clientes__img" src="../resources/Clientes/Baharat.png" alt="Baharat">
    <div>
        <h3 class="clientes__titulo">
            Baharat
        </h3>
            <ol>
                <li>
                    Empresa gastronomica dedicada a la elaboración de alimentos inspirados en Medio Oriente.
                </li>
                <li>
                    Rubro: Gastronomía.
                </li>
                <li>
                    Contacto: Alejandro y Romina.
                </li>
            </ol>
        </p>
    </div>
</section>
<section class="seccionClientes">
    <div class="clientes"> <!-- Bloque -->
        <img class="clientes__img" src="../resources/Clientes/Garbo.png" alt="Garbo">
        <div>
            <h3 class="clientes__titulo">
                Garbo
            </h3>
                <ol>
                    <li>
                        Empresa nacional dedicada al diseño y fabricación de muebles estilo industrial.
                    </li>
                    <li>
                        Rubro: Diseño.
                    </li>
                    <li>
                        Contacto: Belén.
                    </li>
                </ol>
            </p>
        </div>
    </section>
    <section class="seccionClientes">
        <div class="clientes"> <!-- Bloque -->
            <img class="clientes__img" src="../resources/Clientes/Clementina.png" alt="Clementina">
            <div>
                <h3 class="clientes__titulo">
                    Clementina Mandarina
                </h3>
                    <ol>
                        <li>
                            Empresa familiar dedicada a la confección de indumentaria para los mas pequeños.
                        </li>
                        <li>
                            Rubro: Indumentaria Infantil.
                        </li>
                        <li>
                            Contacto: Cecilia y Roman.
                        </li>
                    </ol>
                </p>
            </div>
        </section>
<footer>
        Copyright &copy; 2020
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>